# Prova di notebook

In [6]:
import json
import sqlalchemy as sa
import pandas as pd

with open('credentials.json') as f:
    data = json.load(f)
    user = data['user']
    password = data['password']

engine = sa.create_engine(f'mssql+pyodbc://{user}:{password}@PERSEO')

query = 'SELECT * FROM [v_Iscrizioni] WHERE DataIscr > \'20200701\''
df = pd.read_sql(query, engine)

df

,IDiscrizione,IDutente,Studente,Cognome,Nome,PosRegistro,IDmwiscr,IDmwstage,ID_Dote,DataAvvioDote,...,OraGratuitaProroga,DoteDeroga,IgnoraRegoleProgetto,IdoneoAmmesso,PuntFinale,StatoCivile,LuogoNascitaStraniero,NazResidenza,DataResidenzaItalia,NoteProvenienza
0,284039,43628,CORTINOVIS CRISTIAN,CORTINOVIS,CRISTIAN,1,None,None,None,NaT,...,False,None,None,False,0,None,None,ITALIA,NaT,None
1,284076,141895,TRENTI GLORIA ANNUNZIATA,TRENTI,GLORIA ANNUNZIATA,20,None,None,None,NaT,...,False,None,None,False,0,None,None,ITALIA,NaT,None
2,284113,142816,SALLUZZO EDOARDO,SALLUZZO,EDOARDO,23,None,None,None,NaT,...,False,None,None,False,0,Celibe,None,ITALIA,NaT,None
3,284152,142838,GENTILE IVAN,GENTILE,IVAN,5,None,None,BG52857,2020-07-14,...,False,False,False,False,0,None,None,ITALIA,NaT,None
4,284168,27937,CASORETTI PAOLO,CASORETTI,PAOLO,2,None,None,VA30522,2020-07-17,...,False,False,False,False,0,None,None,ITALIA,NaT,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898,288864,143910,MASTRANDREA ASIA,MASTRANDREA,ASIA,8,None,None,None,NaT,...,False,None,None,False,0,None,None,ITALIA,NaT,None
4899,288881,144429,ZANCHI BARBARA,ZANCHI,BARBARA,6,None,None,None,NaT,...,False,None,None,False,0,None,None,ITALIA,NaT,None
4900,288897,143209,KHELDAOUI MOHAMED,KHELDAOUI,MOHAMED,13,None,None,None,NaT,...,False,None,None,False,0,None,None,ITALIA,NaT,None
4901,288913,144444,SCOLARI GIULIA,SCOLARI,GIULIA,11,None,None,CO20725,2020-09-01,...,False,False,False,False,0,None,None,ITALIA,NaT,None
4902,288929,143221,BO AWA,BO,AWA,1,None,None,None,NaT,...,False,None,None,False,0,None,None,ITALIA,NaT,None